/* BASIC STYLES HERE */

.img-fluid {
    min-width: 30vw;
    max-height: 20vh;
    min-height: 20vh;
}


.unopened {
    background-image: url('https://s3-alpha-sig.figma.com/img/48b4/db47/70a89962f08e627f497482c22625ec37?Expires=1679875200&Signature=YwNrvNfmCEmeYf9iLH2Yc0lyIw~R~IexAftE9AO3HzNbe1vZiPeRNL-i7HOiydceCu2APC1kwjwyzZtLPU5AUB0TaHf6iUcmENu0RznE9wJ~qb44Kcqb75vl3gJI-6dyJigKv7uoPj9TFNTm19ZpSIzLdRNTdhz3DXgjZvfln95gLYxPMjk0t6RjimVjp8TJAfwlj62fh8~NawWdE6uSrW4HPUOwZyvSkOqWgj-GTEyOkFkwnWblif~j6uGnqfC-S7XrfhXCrr06NZ6DrJH4ZiIplbpfHavH8T1cfFqgqlAx5F9s5ZGavZYvY5P9SZ~PsvZfH9oTRXW6C5CtmU2Wgg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
    background-size: cover;
    background-position: center;
}

.cheese {
    background-color: rgb(128 128 128 / 48%);
}